.footer {
    background-color: #C11279;  /* Warna biru */
    color: white;
    padding: 50px 20px;
    margin-top: 50px;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("background.jpg");
    background-size: cover;      /* agar foto memenuhi layar */
    background-position: center; /* agar foto selalu di tengah */
    background-repeat: no-repeat;/* agar foto tidak berulang */
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.footer-column {
    width: 23%;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-column h3 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.footer-column ul li span {
    margin-right: 10px;
    font-weight: bold;
}

.footer-column a {
    color: white;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}